<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.relaykit.gateway</string>
  <key>BundleProgram</key>
  <string>Contents/MacOS/relay</string>
  <key>ProgramArguments</key>
  <array>
    <string>relay</string>
    <string>-app-managed</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>Sockets</key>
  <dict>
    <key>RelayKitGateway</key>
    <dict>
      <key>SockFamily</key>
      <string>IPv4</string>
      <key>SockNodeName</key>
      <string>127.0.0.1</string>
      <key>SockServiceName</key>
      <string>19777</string>
      <key>SockType</key>
      <string>stream</string>
    </dict>
  </dict>
</dict>
</plist>
